* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(99, 95, 75);
    background-image: url(https://raw.githubusercontent.com/cy6or9/cy6or9.github.io/master/images/DSC_0016-02.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: monospace;
    font-size: 16px;
    color: olivedrab;
    background-color: rgba(36, 48, 2, 0.753);
    padding: 5px 10px;
}

h2 {
    font-family: monospace;
    font-size: 26px;
    color: olivedrab;
    background-color: rgba(36, 48, 2, 0.753);
}

h3 {
    font-family: monospace;
    font-size: 48px;
    color: olivedrab;
    background-color: rgba(36, 48, 2, 0.753);
}


li {
    font-family: 'Times New Roman', Times, serif
}

nav {
    width: 100%;
    height: 22px;
    background-color: rgba(36, 48, 2, 0.753);
}

nav p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: olivedrab;
    font-size: 12px;
    line-height: 24px;
    float: left;
    padding: 0px 24px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
	width: 75px;
    height: 20px;
    list-style: none;
    position: relative;
    padding: 0px 20px;
}

nav ul li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: olivedrab;
    font-size: 18px;
    padding: 0px 20px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgba(36, 48, 2, 0.843);
    padding: 8px;
    border-radius: 0px 0px 10px 10px
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 300px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding:0px 20px;
}

nav ul li ul li a:hover {
    background-color: rgba(240, 255, 140, 0.282);
    color: rgb(0, 0, 0);
    border-radius: 0px 0px 10px 10px;
}

address {
    font-family: monospace;
    font-size: 16px;
    color: olivedrab;
    text-align: left;
    background-color: rgba(36, 48, 2, 0.753);
    padding: 5px 10px;
}