* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(36, 48, 2, 0.521);
    background-image: url(https://raw.githubusercontent.com/cy6or9/cy6or9.github.io/master/images/DSC_0016-02.jpeg);
    background-size: 115% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: monospace;
    font-size: 26px;
    color: olivedrab;
    padding: 20px 0px;
    text-align: center;
    background-color: rgba(36, 48, 2, 0.753);
}

h2 {
    font-family: monospace;
    font-size: 48px;
    color: olivedrab;
    text-align: center;
    background-color: rgba(36, 48, 2, 0.753);
}

h3 {
    font-family: monospace;
    font-size: 16px;
    color: olivedrab;
    text-align: left;
    background-color: rgba(36, 48, 2, 0.753);
}

p {
    font-family: monospace;
    font-size: 14px;
    color: olivedrab;
    text-align: left;
    background-color: rgba(36, 48, 2, 0.753);
    padding: 5px 10px;
}

li {
    
    font-family: monospace;
    font-size: 16px;
}

nav {
    width: 100%;
    height: 22px;
    background-color: rgba(36, 48, 2, 0.753);
}

nav p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: olivedrab;
    font-size: 12px;
    line-height: 24px;
    float: left;
    padding: 0px 24px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
	width: 196px;
    height: 20px;
    list-style: none;
    position: relative;
}

nav ul li a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: olivedrab;
    font-size: 18px;
    padding: 0px 24px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgba(36, 48, 2, 0.843);
    padding: 8px;
    border-radius: 0px 0px 10px 10px
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 300px;
    border-radius: 4px;
}

nav ul li ul li a {
    padding:0px 20px;
}

nav ul li ul li a:hover {
    background-color: rgba(240, 255, 140, 0.282);
    color: rgb(0, 0, 0);
    border-radius: 0px 0px 10px 10px;
}

